#Menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#About{
    Margin:2rem;
    padding:1rem;
    border-radius:5%;
    border: solid silver 2px;
}
#About >h3 {
    text-decoration: underline;
}