#topicsList {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#topicsList > button{
    border-radius:10%;
    height:3rem;
    width: 5.5rem;
}