#Container{
    background-color: dodgerblue;
    margin-top:3rem;
    height:50rem;
    border-radius:5%;
    border: 3px outset silver;
    width:50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

