#topicsList {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#topicsList > button{
    
}

#topicButton{
    margin-top:0.5rem;
    border-radius:10%;
    height:4rem;
    width: 8.5rem;
}