
/* Styling for whole form */
#userInfo{
    display:flex;
    flex-direction: column;
    border: solid silver 2px;
    width:30rem;
    height:12rem;
    border-radius:5%;
    justify-content: center;
    padding-top: 1rem;
}

/* Styling for each form component to make sure styling is identical for each part */
.formWrap{
    margin: 0.75rem;
    display:flex;
    justify-content: space-between;
}

/* Styling of the start button */
#start {

    display: flex;
    justify-content: center;
    
}

/* Button styling for start button */
#start > input {
    width:6rem;
    border-radius:10%;
    height:2.5rem;
}

/* Box styling */
select {
    width: 33.5%;
}