
/* Styling for whole form */
#userInfo{
    display:flex;
    flex-direction: column;
    border: solid silver 2px;
    width:45rem;
    height:15rem;
    border-radius:5%;
    justify-content: center;
    padding-top: 1rem;
}

/* Styling for each form component to make sure styling is identical for each part */
.formWrap{
    margin: 0.7rem;
    display:flex;
    justify-content: space-between;
    font-size:larger;
}

/* Styling of the start button */
#start {

    display: flex;
    justify-content: center;
    
}

/* Button styling for start button */
#start > input {
    margin-top:1rem;    
    width:8rem;
    border-radius:10%;
    height:3.5rem;
}

/* Box styling */
select {
    width: 33.3%;
}
.formWrap > input{
    width:14rem;
}