
#userInfo{
    display:flex;
    flex-direction: column;
    border: solid silver 2px;
    width:45rem;
    height:15rem;
    border-radius:5%;
    justify-content: center;
    padding-top: 1rem;
}

.formWrap{
    margin: 0.7rem;
    display:flex;
    justify-content: space-between;
    font-size:larger;
}


#start {

    display: flex;
    justify-content: center;
    
}


#start > input {
    margin-top:1rem;    
    width:8rem;
    border-radius:10%;
    height:3.5rem;
}


select {
    width: 33.3%;
}
.formWrap > input{
    width:14rem;
}